$bg: #EDF2F7;
$blue: #476798;
$red:#784358;
$white: #ffffff;
$black: #2e2e2e;
$gray: #787878;
$highlight: #7670D2;
$highlight2: #005293;
$orange: #FF885D;
$tocolor: #01D0F7;
$footer: #f7f7f7;
$fontfamily: Montserrat;
$title: 48px;
$subtitle: 24px;
$text:18px;
$smalltext: 14px;
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);