.about {
    width: 100%;
    max-width: 1384px;
    display: block;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
}

.about__title {
    font-size: 48px;
    font-weight: 300;
    line-height: 62px;
}

.about__subwrapper {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
}

.about__small-title {
    font-size: $smalltext;
    font-weight: 300;
    margin-bottom: 28px;
}

.about__subtitle {
    width: 100%;
    max-width: 900px;
    font-size: $subtitle;
    font-weight: 300;
    line-height: 36px;
}

.about__button {
    width: 280px;
    height: 60px;
    background: $blue;
    color: $white;
    border: none;
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, $highlight 0%, $tocolor 100%);
    border-radius: 3px;
    margin-top: 100px;
    color: #fff;
    font-size: $text;
    line-height: 32px;
    font-weight: 500;
    transform: scale(1);
    box-shadow: none;
    transition: all 0.3s;
    transform-style: preserve-3d;
    & p {
        padding-top: 4px;
        font-size: 18px;
        font-weight: 500;
        transform: translateZ(20px)
    }
    &:hover {
        transition: all 0.3s;
        transform: scale(1.05);
        cursor: pointer;
        -webkit-box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
        -moz-box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
        box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
    }
}

.about__advantages-card {
    width: 200px;
    font-size: $text;
    font-weight: 300;
    line-height: 26px;
}

.about__advantages-wrapper {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.about__advantages-img {
    display: block;
    width: 100px;
    height: unset;
    margin: 0 auto;
}

.about__advantages-text {
    width: 200px;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 1280px) {
    .about__subwrapper {
        display: block;
    }
    .about__button {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .about__advantages-wrapper {
        margin-bottom: 20px;
    }
    .about__advantages-card {
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 375px) {
    .about__button {
        width: 260px;
    }
}