.about {
    width: 100%;
    max-width: 1384px;
    display: block;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
}

.about__title {
    font-size: 48px;
    font-weight: 300;
    line-height: 62px;
}

.about__subwrapper {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
}

.about__small-title {
    font-size: $smalltext;
    font-weight: 300;
}

.about__subtitle {
    width: 100%;
    max-width: 900px;
    font-size: $subtitle;
    font-weight: 300;
    line-height: 36px;
}

.about__button {
    margin-top: 100px;
    width: 280px;
    height: 50px;
    background: $blue;
    color: $white;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.about__advantages-card {
    width: 200px;
}

.about__advantages-wrapper {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.about__advantages-img {
    display: block;
    width: 100px;
    height: unset;
    margin: 0 auto;
}

.about__advantages-text {
    width: 200px;
    text-align: center;
}