.brands {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.brands-title-wrapper {
    width: 100%;
    max-width: 1384px;
    margin: 0 auto;
}

.brand__imgage-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand__img-item {
    width: 100%;
    max-width: 280px;
    vertical-align: baseline;
}