.contacts {
    width: 100%;
    max-width: 1384px;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background: url(../../src/img/contacts02.png) no-repeat;
    background-position: bottom right;
    & h1 {
        font-size: $title;
        font-weight: 300;
        line-height: 52px;
        margin-bottom: 15px;
    }
    & h2 {
        font-size: $smalltext;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 15px;
    }
}

.contacts__items-wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

.form {
    margin-top: 100px;
    width: 480px;
    display: flex;
    flex-direction: column;
}

.form>p {
    text-align: right;
}

.form>p>a {
    color: #000;
    font-size: 14px;
}

.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    margin-bottom: 20px;
}

.form-field:focus {
    border-color: $tocolor;
}

.form__button {
    height: 60px;
    padding: 3px;
    border: 0;
    background: linear-gradient(to right, $highlight 0%, $tocolor 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    font-size: $text;
    line-height: 32px;
    font-weight: 500;
    transform: scale(1);
    box-shadow: none;
    transition: all 0.3s;
    transform-style: preserve-3d;
    & p {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 500;
        transform: translateZ(20px)
    }
    &:hover {
        transition: all 0.3s;
        transform: scale(1.05);
        cursor: pointer;
        -webkit-box-shadow: 0px 1px 2px 2px rgba($tocolor, 0.3);
        -moz-box-shadow: 0px 1px 2px 2px rgba($tocolor, 0.3);
        box-shadow: 0px 1px 2px 2px rgba($tocolor, 0.3);
    }
}

select {
    width: 260px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px !important;
    &::after {
        display: none;
    }
}

.terms {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    & input {
        margin-top: 5px;
    }
}

#sendNew:disabled {
    cursor: not-allowed;
    color: rgb(41, 41, 41);
    background: linear-gradient(to right, $highlight 0%, $tocolor 100%);
    opacity: 0.3;
}

#form-btn-id:disabled {
    cursor: not-allowed;
    color: rgb(41, 41, 41);
    background: linear-gradient(to right, $highlight 0%, $tocolor 100%);
    opacity: 0.3;
}

.contacts_tel_number {
    font-size: 20px !important;
    color: $gray;
    font-family: 'Righteous', cursive;
    transition: all 0.3s;
    &:hover {
        transition: all 0.3s;
        color: $highlight;
        text-decoration: none;
    }
}

.modal__private-policy {
    margin-top: 15px;
    display: flex;
    & input {
        margin-top: 5px;
        margin-right: 10px;
    }
}

.private-policy {
    font-size: 12px;
}

.email-link {
    color: #000;
    margin-right: 5px;
    margin-left: 5px;
    &:hover {
        color: #282828;
    }
}

@media screen and (max-width: 1280px) {
    .contacts {
        box-sizing: border-box;
        padding: 10px;
    }
}

@media screen and (max-width: 414px) {
    .form {
        width: 320px;
        margin: 0 auto;
        margin-top: 100px;
        & select {
            margin: 0 auto;
        }
    }
    .contacts {
        background: url(../../src/img/contact2.png) no-repeat;
        background-position: bottom center;
    }
    .copyright {
        padding-bottom: 20px;
        margin-top: 45px !important;
    }
    .contacts__items-wrapper {
        display: block;
    }
    .contacts__tel {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 375px) {
    .form {
        width: 280px;
    }
}