.footer {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__logo {
    margin-top: 31px;
    height: 55px;
    & img {
        height: 55px;
    }
}

.copyright {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 20px;
}

@media screen and (max-width: 414px) {
    .footer {
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
    }
    .footer__logo {
        width: 220px;
        margin: 0 auto;
        & img {
            width: 220px;
            height: 40px;
        }
    }
    .copyright {
        display: block;
        text-align: center;
    }
}