.header {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__logo {
    height: 150px;
    & img {
        height: 150px;
    }
}