.header {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__logo {
    height: 150px;
    & img {
        height: 150px;
    }
}

.header__nav {
    padding-top: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.header__nav-item {
    font-size: 18px;
    font-weight: 500;
    color: $black;
    transition: all 0.3s;
    &:hover {
        transition: all 0.3s;
        color: $highlight;
        transform: scale(1.1);
    }
}

.header__contacts {
    padding-top: 50px;
    width: 350px;
    justify-content: space-between;
    display: flex;
}

.header__contacts-item {
    color: $black;
    &:hover {
        transition: all 0.3s;
        color: $highlight;
        text-decoration: none;
    }
}

@media screen and (max-width: 1280px) {
    .desktop-nav {
        display: none;
    }
    .nav-toggle {
        display: block !important;
    }
    .header__contacts {
        display: none;
    }
    .header__logo-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
    }
}