.main {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.main__image {
    width: unset;
    height: unset;
    margin-top: 40px;
}

.main__button {
    width: 280px;
    height: 60px;
    background: $blue;
    color: $white;
    border: none;
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, $highlight 0%, $tocolor 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    font-size: $text;
    line-height: 32px;
    font-weight: 500;
    box-shadow: none;
    transition: all 0.3s;
    transform-style: preserve-3d;
    & p {
        padding-top: 4px;
        transform: translateZ(20px);
    }
    &:hover {
        transition: all 0.3s;
        transform: scale(1.05);
        cursor: pointer;
        -webkit-box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
        -moz-box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
        box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
    }
}

.main__title {
    width: 100%;
    max-width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 48px;
    font-weight: 300;
    line-height: 62px;
    color: #282828;
    animation: glow 20s ease-in-out infinite;
    transform-style: preserve-3d;
    & .highlightedmain {
        transform: translateZ(40px);
    }
    @keyframes glow {
        0%,
        100% {
            text-shadow: 2px 2px 0px $highlight, 1px 1px 0px $highlight, 3px 3px 0px $highlight;
        }
        25% {
            text-shadow: 2px 2px 0px $tocolor, 1px 1px 0px $tocolor, 3px 3px 0px $tocolor;
        }
        // 37% {
        //     text-shadow: 2px 2px 1px $orange, 1px 1px 1px $orange, 3px 3px 1px $orange;
        // }
        50% {
            text-shadow: 2px 2px 0px $highlight, 1px 1px 0px $highlight, 3px 3px 0px $highlight;
        }
        // 63% {
        //     text-shadow: 2px 2px 2px $orange, 1px 1px 2px $orange, 3px 3px 2px $orange;
        // }
        75% {
            text-shadow: 2px 2px 0px $tocolor, 1px 1px 0px $tocolor, 3px 3px 0px $tocolor;
        }
    }
}

.highlightedmain {
    font-family: "Righteous", cursive;
    color: $highlight;
}

@media screen and (max-width: 1280px) {
    .main {
        display: block;
    }
    .main__title {
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .main__image {
        width: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 414px) {
    .main__image {
        margin-top: 40px;
        width: 380px;
    }
}

@media screen and (max-width: 375px) {
    .main__image {
        margin-top: 40px;
        width: 300px;
    }
    .main__title {
        font-size: 36px;
    }
}