.main {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.main__image {
    width: unset;
    height: unset;
    margin-top: 40px;
    & img {
        margin: 0 auto;
        margin-top: 40px;
        width: 90% !important;
    }
}

.main__button {
    width: 280px;
    height: 60px;
    background: $blue;
    color: $white;
    border: none;
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, $highlight 0%, $tocolor 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    font-size: $text;
    line-height: 32px;
    font-weight: 500;
    box-shadow: none;
    transition: all 0.3s;
    transform-style: preserve-3d;
    & p {
        padding-top: 4px;
        transform: translateZ(20px);
    }
    &:hover {
        transition: all 0.3s;
        transform: scale(1.05);
        cursor: pointer;
        -webkit-box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
        -moz-box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
        box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
    }
}

.main__button-inverce {
    width: 280px;
    height: 60px;
    background: $blue;
    color: $white;
    border: none;
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, $tocolor 0%, $highlight 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    font-size: $text;
    line-height: 32px;
    font-weight: 500;
    box-shadow: none;
    transition: all 0.3s;
    transform-style: preserve-3d;
    & p {
        padding-top: 4px;
        transform: translateZ(20px);
    }
    &:hover {
        transition: all 0.3s;
        transform: scale(1.05);
        cursor: pointer;
        -webkit-box-shadow: 0px 1px 2px 5px rgba($highlight2, 0.3);
        -moz-box-shadow: 0px 1px 2px 5px rgba($highlight2, 0.3);
        box-shadow: 0px 1px 2px 5px rgba($highlight2, 0.3);
    }
}

.main__btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__social-wrapper {
    position: fixed;
    bottom: 100px;
    right: 22px;
    & img {
        padding: 10px;
        filter: brightness(1);
        transition: all 0.5s;
    }
    &:hover img {
        filter: brightness(1.1);
        cursor: pointer;
        transition: all 0.5s;
    }
}

.main__title {
    width: 100%;
    max-width: 800px;
    margin-top: 130px;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
    color: #282828;
    text-shadow: 0 3px 2.3px rgba(0, 0, 0, 0.019), 0 6.5px 5.4px rgba(0, 0, 0, 0.029), 0 10.9px 9.9px rgba(0, 0, 0, 0.034), 0 17.5px 17.5px rgba(0, 0, 0, 0.036), 0 30.3px 32.6px rgba(0, 0, 0, 0.041), 0 74px 80px rgba(0, 0, 0, 0.07);
    ;
    // animation: glow 20s ease-in-out infinite;
    transform-style: preserve-3d;
    & .highlightedmain {
        transform: translateZ(40px);
    }
    & img {
        width: 100%;
        max-width: 700px;
    }
    @keyframes glow {
        0%,
        100% {
            text-shadow: -2px 2px 0px $highlight, -1px 1px 0px $highlight, ;
        }
        25% {
            text-shadow: -2px 2px 0px $tocolor, -1px 1px 0px $tocolor, ;
        }
        // 37% {
        //     text-shadow: 2px 2px 1px $orange, 1px 1px 1px $orange, 3px 3px 1px $orange;
        // }
        50% {
            text-shadow: -2px 2px 0px $highlight, -1px 1px 0px $highlight, ;
        }
        // 63% {
        //     text-shadow: 2px 2px 2px $orange, 1px 1px 2px $orange, 3px 3px 2px $orange;
        // }
        75% {
            text-shadow: -2px 2px 0px $tocolor, -1px 1px 0px $tocolor, ;
        }
    }
}

.highlightedmain {
    font-family: "Montserrat", cursive;
    font-weight: 600;
    color: $highlight;
}

@media screen and (max-width: 1280px) {
    .main {
        display: block;
    }
    .main__title {
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .main__image {
        width: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 414px) {
    .page {
        margin-top: 0 !important;
    }
    .main__title {
        font-size: 20px;
        line-height: 24px;
    }
    .main__image {
        margin-top: 40px;
        width: 380px;
    }
    .main__social-wrapper {
        bottom: 180px;
        right: -4px;
    }
}

@media screen and (max-width: 375px) {
    .main__image {
        margin-top: 40px;
        width: 300px;
    }
    .main__title {
        font-size: 36px;
    }
}