.modal-form-button {
    width: 265px;
    height: 45px;
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, $highlight 0%, $tocolor 100%);
    border-radius: 3px;
    color: #fff;
    font-size: $text;
    font-weight: 500;
    transform: scale(1);
    box-shadow: none;
    transition: all 0.3s;
    &:hover {
        transition: all 0.3s;
        transform: scale(1.05);
        cursor: pointer;
        -webkit-box-shadow: 0px 1px 2px 2px rgba($tocolor, 0.3);
        -moz-box-shadow: 0px 1px 2px 2px rgba($tocolor, 0.3);
        box-shadow: 0px 1px 2px 2px rgba($tocolor, 0.3);
    }
}

// .modal-content {
//     position: fixed;
//     top: 0;
// }
.modal-form {
    margin-top: 20px;
    width: 265px;
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    width: 265px;
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    margin-bottom: 20px;
}

.modal__img img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.modal__contacts-item {
    width: 160px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}