.service {
    width: 100%;
    max-width: 1384px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.service__title-wrapper {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.service__img {
    width: 100%;
    max-width: 500px;
    & img {
        width: 100%;
        max-width: 500px;
    }
}

.service__smalltitle {
    font-size: $smalltext;
    font-weight: 300;
    line-height: 26px;
}

.service__subtitle {
    font-size: $subtitle;
    font-weight: 300;
    line-height: 26px;
}

.msk {
    padding-top: 25px;
}

.highlighted {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat', cursive;
    color: $highlight;
}

.sp {
    line-height: 42px;
}

.active-city {
    color: $highlight;
}

.service__title {
    font-size: $title;
    font-weight: 300;
    line-height: 62px;
}

.service__toggle {
    margin-top: 50px;
}

.service__toggle-wrapper {
    width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.service__toggle-title {
    width: 300px;
    font-size: $title;
    font-weight: 300;
    margin-top: 5px;
    text-align: center;
}

#toggle_checkbox {
    display: none;
}

label {
    display: block;
    width: 140px;
    height: 70px;
    margin: 0 auto;
    transform: translateY(-50%);
    cursor: pointer;
}

label:before {
    top: 8px;
    left: 8px;
    width: 54px;
    height: 54px;
    border: 3px solid rgb(0, 0, 0);
}

label:after {
    top: 0;
    right: 0;
    width: 140px;
    height: 70px;
    border: 3px solid #143240;
}

label:before,
label:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox:checked+label:before {
    top: 0;
    left: 0;
    width: 140px;
    height: 70px;
    border-color: #143240;
}

#toggle_checkbox:checked+label:after {
    top: 8px;
    right: 8px;
    width: 54px;
    height: 54px;
    border-color: black;
}

.service__cards-wrapper {
    width: 100%;
    max-width: 1384px;
    margin: 0 auto;
    display: flex;
    flex-basis: 33.33%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service__card {
    box-sizing: border-box;
    width: 320px;
    margin: 30px;
    padding: 20px;
    background: $white;
    border-radius: 15px;
    box-shadow: 0 3px 2.3px rgba(0, 0, 0, 0.019), 0 6.5px 5.4px rgba(0, 0, 0, 0.029), 0 10.9px 9.9px rgba(0, 0, 0, 0.034), 0 17.5px 17.5px rgba(0, 0, 0, 0.036), 0 30.3px 32.6px rgba(0, 0, 0, 0.041), 0 74px 80px rgba(0, 0, 0, 0.07);
    & h2 {
        width: 200px;
        margin: 0 auto;
        font-size: $subtitle;
        line-height: 32px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }
    & ul {
        list-style: none;
        text-align: center;
        padding: 0;
        & li {
            font-size: $text;
            line-height: 32px;
            font-weight: 500;
        }
    }
    & p {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        font-size: $smalltext;
        line-height: 24px;
        font-weight: 300;
    }
}

.about__sedcription {
    font-size: $smalltext;
    line-height: 24px;
    font-weight: 300;
}

.price__button {
    width: 280px;
    height: 60px;
    background: $blue;
    color: $white;
    border: none;
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, $highlight 0%, $tocolor 100%);
    border-radius: 3px;
    margin-top: 60px;
    margin-bottom: 10px;
    color: #fff;
    font-size: $text;
    line-height: 32px;
    font-weight: 500;
    transform: scale(1);
    box-shadow: none;
    transition: all 0.3s;
    transform-style: preserve-3d;
    & p {
        padding-top: 4px;
        font-size: 18px;
        font-weight: 500;
        transform: translateZ(20px)
    }
    &:hover {
        transition: all 0.3s;
        transform: scale(1.05);
        cursor: pointer;
        -webkit-box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
        -moz-box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
        box-shadow: 0px 1px 2px 5px rgba($tocolor, 0.3);
    }
}

.animation {
    animation-name: move;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.a1 {
    animation-delay: 0.5s;
}

.a2 {
    animation-delay: 0.6s;
}

.a3 {
    animation-delay: 0.7s;
}

.a4 {
    animation-delay: 0.8s;
}

.a5 {
    animation-delay: 0.9s;
}

.a6 {
    animation-delay: 1s;
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        padding: 5px;
        width: 440px;
    }
}

@media screen and (max-width: 768px) {
    label {
        display: block;
        width: 140px;
        height: 70px;
        margin: 0 auto;
        margin-top: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    label:before {
        top: 5px;
        left: 34px;
        width: 25px;
        height: 25px;
        border: 3px solid rgb(0, 0, 0);
    }
    label:after {
        top: 0;
        right: 40px;
        width: 70px;
        height: 35px;
        border: 3px solid #143240;
    }
    label:before,
    label:after {
        content: "";
        position: absolute;
        border-radius: 25px;
        box-sizing: border-box;
        transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
    }
    #toggle_checkbox:checked+label:before {
        top: 0;
        left: 40px;
        width: 70px;
        height: 35px;
        border-color: #143240;
    }
    #toggle_checkbox:checked+label:after {
        top: 5px;
        right: 34px;
        width: 25px;
        height: 25px;
        border-color: black;
    }
    .service__toggle-wrapper {
        width: 400px;
    }
    .service__img {
        display: none;
    }
    .msk {
        padding-top: 35px !important;
    }
    .sp {
        padding-top: 25px !important
    }
    .service__toggle-title {
        padding-top: 10px;
        width: 150px;
        font-size: $subtitle;
    }
    .service__cards-wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .service__card {
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 414px) {
    #text1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    #text2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .service__title {
        font-size: 36px;
    }
}

@media screen and (max-width: 375px) {
    .service__toggle-title {
        padding-top: 10px;
        width: 100px;
        font-size: 14px;
        line-height: 20px;
    }
    .service__toggle-wrapper {
        width: 300px;
    }
    .service__card {
        width: 280px;
        padding: 10px;
    }
    .price__button {
        width: 260px;
    }
}