.service {
    width: 100%;
    max-width: 1384px;
    margin: 0 auto;
}

.service__title-wrapper {
    width: 100%;
    max-width: 1384px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.service__smalltitle {
    font-size: $smalltext;
    font-weight: 300;
    line-height: 26px;
}

.service__subtitle {
    font-size: $subtitle;
    font-weight: 300;
    line-height: 26px;
}

.service__title {
    font-size: $title;
    font-weight: 300;
    line-height: 62px;
}

.service__toggle {
    margin-top: 50px;
}

.service__toggle-wrapper {
    width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.service__toggle-title {
    width: 300px;
    font-size: $title;
    font-weight: 300;
    margin-top: 5px;
    text-align: center;
}

#toggle_checkbox {
    display: none;
}

label {
    // position: absolute;
    // top: 50%;
    // right: 0;
    // left: 0;
    display: block;
    width: 140px;
    height: 70px;
    margin: 0 auto;
    transform: translateY(-50%);
    cursor: pointer;
}

label:before {
    top: 8px;
    left: 8px;
    width: 54px;
    height: 54px;
    border: 3px solid rgb(0, 0, 0);
}

label:after {
    top: 0;
    right: 0;
    width: 140px;
    height: 70px;
    border: 3px solid #143240;
}

label:before,
label:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox:checked+label:before {
    top: 0;
    left: 0;
    width: 140px;
    height: 70px;
    border-color: #143240;
}

#toggle_checkbox:checked+label:after {
    top: 8px;
    right: 8px;
    width: 54px;
    height: 54px;
    border-color: black;
}

.service__cards-wrapper {
    display: flex;
    flex-basis: 33.33%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service__card {
    box-sizing: border-box;
    width: 320px;
    margin: 30px;
    padding: 20px;
    background: $white;
    border-radius: 15px;
    box-shadow: 0 3px 2.3px rgba(0, 0, 0, 0.019), 0 6.5px 5.4px rgba(0, 0, 0, 0.029), 0 10.9px 9.9px rgba(0, 0, 0, 0.034), 0 17.5px 17.5px rgba(0, 0, 0, 0.036), 0 30.3px 32.6px rgba(0, 0, 0, 0.041), 0 74px 80px rgba(0, 0, 0, 0.07);
    & h2 {
        width: 200px;
        margin: 0 auto;
        font-size: $subtitle;
        line-height: 32px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }
    & ul {
        list-style: none;
        text-align: center;
        padding: 0;
        & li {
            font-size: $text;
            line-height: 32px;
            font-weight: 500;
        }
    }
    & p {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        font-size: $smalltext;
        line-height: 24px;
        font-weight: 300;
    }
}