.sidevisible {
    opacity: 0.9;
    transition: all 0.7s ease-in;
}

.sideunvisible {
    opacity: 0;
    transition: all 0.7s ease-out;
}

.sidebar-title {
    position: fixed;
    top: 30%;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    text-align: center;
    & ul {
        padding: unset;
        padding-left: 13px;
        list-style: none;
        & li {
            margin-bottom: 15px;
            & a span {
                border-radius: 15px;
                margin-left: 10px;
                display: none;
            }
            & a:hover span {
                width: 150px;
                margin-top: 10px;
                display: inline;
                justify-content: space-between;
                position: absolute;
                background: #ffffff;
                border: 1px solid #cccccc;
            }
            & a img {
                transition: all 0.3s ease-out;
                filter: brightness(1);
                &:hover {
                    transition: all 0.3s ease-in;
                    filter: brightness(1.7);
                }
            }
        }
    }
}

.sidebar-img {
    position: fixed;
    left: 42px;
    top: 7%;
}

.sidebar-menu {
    position: fixed;
    display: block;
    left: 30px;
    top: 5%;
    border-radius: 25px;
    width: 70px;
    height: 90vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.3) 100%);
    box-shadow: 0 3px 2.3px rgba(0, 0, 0, 0.019), 0 6.5px 5.4px rgba(0, 0, 0, 0.029), 0 10.9px 9.9px rgba(0, 0, 0, 0.034), 0 17.5px 17.5px rgba(0, 0, 0, 0.036), 0 30.3px 32.6px rgba(0, 0, 0, 0.041), 0 74px 80px rgba(0, 0, 0, 0.07);
    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 1280px) {
    .sidebar-menu {
        display: none;
    }
}